html {
  background-color: #d60000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d60000;
}

.map-holder {
  display: flex;
  height: 80vh;
  width: 150vh;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
  border-radius: 8px;
  background-color: #2d2d2d;
}

#map {
  height: 80vh;
  width: 120vh;
  margin: auto;
}

.gm-style-iw-d {
  color: black;
}

.second-top-container {
  background-color: #2d2d2d;
  border: 7px solid white;
  width: 98%;
  height: 100px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: row;
  padding: 10px;
  margin: 0 auto;
}

a {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 40px;
  text-decoration: none;
  color: white;
  font-size: 21px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.right-side {
  margin-bottom: 30px;
  font-size: 20px
}

button {
  background-color: #2d2d2d;
  color: white;
  margin-bottom: 40px;
  width: 180px;
  height: 60px;
  font-size: 1.25em;
  cursor: pointer;
  font-family: 'New Super Mario Font U', sans-serif;
  border: none;
  margin-right: -40px;
  }

  .btn-aboutme {
    border: 0.2rem solid white;
    background-color: #2d2d2d;
    color: white;
    margin-top: 0;
    margin-bottom: 40px;
    width: 180px;
    height: 60px;
    font-size: 1.25em;
    border-radius: 7%;
    cursor: pointer;
    font-family: 'New Super Mario Font U', sans-serif;
  }

  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 4em;
    font-family:'Futura', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }

  p {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
    font-family:'Gill Sans', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 60px;
  }

  .tool-box {
    border: solid white;
    border-width: 0.2rem;
    width: 180px;
    height: 50px;
    font-size: 2em;
    border-radius: 7%;
  }

  @media screen and (max-width: 600px) {
    .world-map {
      font-size: 13px;
    }
  }

footer {
  margin: 100px;
}
